/*--for pc --*/

@media screen and (min-width: 769px) {
    .hidden-pc {
        display: none;
    }
}

.hidden {
    display: none;
}

//biến color phổ biến cho văn bản trong trang
$color-text: #a1a9b0;
// căn giữa cho các đối tượng sử dụng position
@mixin middle-hor {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

// border-radius
@mixin border-rd($index) {
    border-radius: $index;
    -moz-border-radius: $index;
    -webkit-border-radius: $index;
    -o-border-radius: $index;
}

//class intro
.intro {
    position: relative;
    margin: -4px auto -4px;

    img {
        width: 100%;
        height: auto;
    }
    h1 {
        @include middle-hor();
        top: 20%;
        display: table;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 15px;
        font: {
            family: GothamRounded-Book, Arial;
            size: 40px;
        }
        strong {
            color: $color-text;
        }
    }
    p {
        color: $color-text;
        display: table;
        font: {
            family: GothamRounded-Book, Arial;
            size: 15px;
        }
        @include middle-hor();
        top: 32%;
        em {
            font-weight: bold;
        }
    }
    a {
        @include middle-hor();
        top: 45%;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        padding: 15px 0;
        background-color: #3dc9b3;
        color: #fff;
        font: {
            size: 15px;
            family: GothamRounded-Medium, Arial;
        }
        @include border-rd(5px);
    }
}

//end class intro
//class template
.content {
    h2 {
        font: {
            family: GothamRounded-Bold, Arial;
            size: 16px;
        }
        text-transform: uppercase;
        color: #000;
        text-align: center;
        margin: 80px auto 20px;
    }
    .content-title {
        position: relative;
        margin: 0 auto 40px;
        height: 16px;
        width: 320px;
        .content-title-line {
            position: absolute;
            top: -5px;
            left: 0;
            margin: 0;
            padding: 0;
        }
        .content-title-line2 {
            position: absolute;
            top: -5px;
            right: 0;
            margin: 0;
            padding: 0;
        }
        .fa-chevron-down {
            @include middle-hor();
            top: 7px;
            width: 15px;
        }
    }
}

.template {
    background-color: #f3f5f8;
    display: inline-block;
    padding-bottom: 60px;
    .template-content {
        color: $color-text;
        font-size: 14px;
        font-family: GothamRounded-Medium, Arial;
        text-align: justify;
        margin: 0 25%;
        padding: 0;
    }
}

//class item
.item {
    display: inline-block;
    padding-bottom: 70px;
    .item-container {
        margin: 20px 12.5%;
    }
}

.item-content {
    margin-top: 10px;
    text-align: center;
    img {
        width: 150px;
        height: 150px;
        margin: 0;
    }
    h3 {
        color: #000;
        font-family: GothamRounded-Medium, Arial;
        font-size: 15px;
        text-transform: uppercase;
        margin: 20px auto;
    }
    .line {
        height: 2px;
        width: 30px;
        margin: 0 auto;
        background-color: #3dc9b3;
    }
    p {
        color: $color-text;
        font-family: GothamRounded-Medium, Arial;
        font-size: 14px;
        margin: 20px auto;
        padding: 0 6%;
    }
}

// class responsive
.responsive {
    .responsive-img {
        background-color: #f3f5f8;
        img {
            width: 100%;
            height: auto;
        }
    }
    .responsive-content {
        h2 {
            margin-top: 40px;
        }
        .responsive-content-text {
            p {
                margin: 10px auto;
                text-align: justify;
                padding: 0 5%;
                color: $color-text;
                font-size: 14px;
                font-family: GothamRounded-Medium, Arial;
            }
        }
    }
}

.responsive-content-slide-button {
    display: flex;
    margin: 15px auto 50px;
    width: 75px;
    cursor: pointer;
    div {
        width: 18px;
        height: 18px;
        @include border-rd(50%);
        border: 2px solid $color-text;
        margin: 0 3px;
        &:hover {
            background-color: #000;
        }
    }
}

// class problem
.problem {
    .problem-container {
        position: relative;
        img {
            width: 100%;
            height: auto;
            opacity: 0.7;
        }
        h2 {
            color: #fff;
            font-family: GothamRounded-Book, Arial;
            font-size: 40px;
            text-transform: uppercase;
            letter-spacing: 5px;
            @include middle-hor();
            margin: 0;
            top: 30%;
            width: 505px;
        }
        p {
            @extend h2;
            font-size: 25px;
            top: 50%;
            width: 400px;
        }
        .fa-chevron-down {
            @include border-rd(50%);
            @include middle-hor();
            top: 80%;
            color: #fff;
            width: 40px;
            height: 40px;
            font-size: 15px;
            background-color: #3dc9b3;
            padding: 10px 11px;
        }
    }
}

//class item-more
.item-more {
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 10px;
    .item-container {
        .item-content {
            padding: 0 15px;
            position: relative;
            img {
                width: 100%;
                height: auto;
                &:hover {
                    opacity: 0.6;
                }
            }
            .view-more {
                position: absolute;
                @include middle-hor;
                top: 20%;
                width: 110px;
                height: 50px;
                text-align: center;
                cursor: pointer;
                .fa-search {
                    color: #fff;
                    margin: 0;
                }
                p {
                    color: #fff;
                    font-family: GothamRounded-Medium, Arial;
                    font-size: 15px;
                    text-transform: uppercase;
                    margin: 10px auto;
                }
            }
        }
    }
}

//class passion
.passion {
    height: 200px;
    width: 100%;
    background-color: #242830;
    text-align: center;
    display: inline-block;
    h2 {
        font-family: GothamRounded-Medium, Arial;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        margin: 90px auto 0;
        border: 2px solid $color-text;
        padding: 20px 10px;
        width: 220px;
    }
}

// class team
.team {
    padding-bottom: 50px;
    .item-content {
        position: relative;
        padding-bottom: 80px;
    }
}

//class subscribe
.subscribe {
    position: relative;
    img {
        width: 100%;
        height: auto;
        opacity: 0.5;
    }
    h2 {
        text-transform: uppercase;
        color: #fff;
        font-family: GothamRounded-Medium, Arial;
        font-size: 15px;
        @include middle-hor;
        display: table;
        top: 30%;
    }
    div {
        @include middle-hor;
        display: table;
        top: 55%;
        .write {
            width: 300px;
            height: 60px;
            background-color: transparent;
            border: 2px solid #fff;
        }
        .send {
            height: 60px;
            width: 90px;
            background-color: #3dc9b3;
            margin-left: 10px;
            border: none;
            color: #fff;
            font-family: GothamRounded-Medium, Arial;
            font-size: 15px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

//class contact
.contact {
    margin-top: -5px;
    padding-top: 80px;
    position: relative;
    padding-bottom: 120px;
    background-image: url("../images/lap-note.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        margin-top: 0;
    }
    .fa-chevron-up {
        width: 30px;
        height: 30px;
        @include border-rd(50%);
        @include middle-hor();
        background-color: #3dc9b3;
        color: #fff;
        padding: 5px 7px;
        top: -4px;
    }
    .item-container {
        .item-content {
            .itemt-content-container {
                background-color: #fff;
                width: 70%;
                margin: 0 auto;
                padding-bottom: 30px;
                .fa {
                    margin-top: 20px;
                }
            }
            h3 {
                color: #3dc9b3;
            }
        }
    }
}

.contact-fa {
    width: 125px;
    height: 30px;
    position: absolute;
    @include middle-hor;
    bottom: 5%;
    display: flex;
    .fa {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background-color: #000;
        color: #fff;
        @include border-rd(50%);
        padding: 6px 8px;
        cursor: pointer;
        &:hover {
            background-color: #3dc9b3;
        }
    }
}


/*--for tablet --*/

@media screen and (max-width: 768px) and (min-width: 480px) {
    .hidden-tb {
        display: none;
    } // class intro
    .intro {
        p {
            top: 37%;
        }
        a {
            top: 60%;
        }
    } // class template
    .template {
        .template-content {
            margin: 0 8%;
        }
    } //class item
    .item {
        .item-container {
            margin-left: 8.3%;
            .item-content {
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }

    } //class responsive
    .responsive {
        .responsive-content {
            .responsive-content-slide-button {
                margin: 10px auto 10px;
            }
            h2 {
                margin-top: 15px;
                margin-bottom: 10px;
            }
            .content-title {
                margin-bottom: 15px;
            }
        }
    } // class problem
    .problem {
        .problem-container {

            h2 {
                font-size: 30px;
                top: 30%;
                width: 400px;
            }
            p {
                font-size: 14px;
                top: 55%;
                width: 268px;
            }
            .fa-chevron-down {

                top: 80%;
                width: 20px;
                height: 20px;
                font-size: 10px;
                padding: 5px 5px;
            }
        }
    } //class item-more
    .item-more {
        margin-top: 50px;
        display: inline-block;
        padding-bottom: 0;
        .item-container {
            .item-content {
                padding: 0 15px;
                margin-bottom: 30px;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }
                .view-more {
                    top: 32%;
                }
            }
        }
    } // class team
    .team {
        .item-container {
            margin-left: 8.3%;
        }
    } //class subscribe
    .subscribe {

        h2 {
            top: 22%;
        }
        div {

            top: 55%;
            .write {
                width: 250px;
                height: 40px;
            }
            .send {
                height: 40px;
                width: 60px;
            }
        }
    } //class contact
    .contact {

        .item-container {
            .item-content {
                margin-left: 10%;
            }
        }
    }
}

/*--for mobile --*/

@media screen and (max-width: 479px) {
    .hidden-mb {
        display: none;
    } // class intro
    .intro {
        h1 {
            font-size: 20px;
            letter-spacing: 8px;
            top: 15%;
        }
        p {
            top: 30%;
            font-size: 12px;
        }
        a {
            width: 160px;
            top: 60%;
            padding: 10px 0;
        }
    } // class template
    .template {
        .template-content {
            margin: 0;
            padding: 0 8%;
        }
    } //class item
    .item {
        .item-container {
            margin-left: 0;
            .item-content {
                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    } //class responsive
    .responsive {
        .responsive-content {
            .responsive-content-slide-button {
                margin: 10px auto 10px;
            }
            h2 {
                margin-top: 15px;
                margin-bottom: 10px;
            }
            .content-title {
                margin-bottom: 15px;
            }
        }
    } // class problem
    .problem {
        .problem-container {
            h2 {
                font-size: 16px;
                top: 25%;
                width: 255px;
            }
            p {
                font-size: 12px;
                top: 48%;
                width: 245px;
            }
            .fa-chevron-down {
                top: 77%;
                width: 20px;
                height: 20px;
                font-size: 10px;
                padding: 5px 5px;
            }
        }
    } //class item-more
    .item-more {
        margin-top: 50px;
        display: inline-block;
        .item-container {
            .item-content {
                padding: 0 15px;
                margin-bottom: 20px;
                img {
                    width: 100%;
                    height: auto;
                }
                .view-more {
                    top: 25%;
                }
            }
        }
    } //class subscribe
    .subscribe {

        h2 {
            top: 10%;
        }
        div {

            top: 55%;
            .write {
                width: 200px;
                height: 30px;
            }
            .send {
                height: 30px;
                width: 60px;
            }
        }
    }
}
